body {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

@media (min-width: 992px) {
    .header-fixed.subheader-fixed .subheader {
        top: 0px;
    }
}
.index_image {
    width: 100px;
    height: 80px;
}
